body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { 
    color:teal;
    text-decoration:none;
}

a:hover, a:focus {
    text-decoration:underline;
}



.btn-block {
  width: 100%;
}

.streak-active {
  color: orange;
}

.streak-inactive {
  color: grey;
}