<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- Add login UI here -->
  <% if (user) { %>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal ">
        <a href="/users"class="left hide-on-small-only brand-logo ">&nbsp;&nbsp;Habit App</a>
        <ul class="right">
          <li><a href="/users">Home</a></li>
          <li><a href="/users/habits">Habits</a></li>
          <li><a href="/users/tasks">Tasks</a></li>
          <li><a href="/users/all">All</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <h3 class="center">Roles</h3>
    <hr />
    <ul>
      <% user.roles.forEach(function(role) { %>
      <div class="card">
        <a href="/users/role/<%= role._id %>" class="card-content center">
          <h5><%= role.name %></h5>
        </a>
      </div>
      <% }) %>
    </ul>
    
    <div class="row">
      <form action="/users" method="POST">
        <div class="col s4">
          <input placeholder="Enter a New Role" type="text" name="name"> 
        </div>
        <div class="col s4">
          <button type="submit" class='btn'>Add Role</button>
        </div>   
      </form>
      <div class="col s4">
        <form action="/users/reset?_method=PUT" method="POST">
          <button type="submit" class="btn">Reset Habits</button>
        </form>
      </div>
    </div>
  </div>

  <% } else { %>
  <div class="container">
    <div class="center">
      <h1>Habit App</h1>
      <a href="/auth/google" role="button" class="btn">Login with Google</a>
    </div>
  </div>
  <% } %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>