<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- Add login UI here -->
  <% if (user) { %>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper cyan darken-4">
        <a href="/users"class="left brand-logo">&nbsp;&nbsp;Habit App</a>
        <ul class="right">
          <li><a href="/users">Home</a></li>
          <li><a href="/users/habits">Habits</a></li>
          <li><a href="/users/tasks">Tasks</a></li>
          <li><a href="/users/all">All</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>


  User: <%= user.name %> <br>
  <div class=container>
    <h2 class= "text-center"><u>Roles</u></h2>
    <div class="row">
      <div class="col"></div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <ul class="list-group list-group-flush">
          <% user.roles.forEach(function(role) { %>
          <a href="/users/role/<%= role._id %>" class="list-group-item list-group-item-action text-center">
            <h3><%= role.name %></h3>
          </a>
          <% }) %>
        </ul>
      <div>
        <form action="/users" method="POST">
        <div class="input-group">
          <input type="text" name="name" required class="form-control">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Add Role</button>
          </div>
        </div>
        </form>
      </div>
      <div>
        <form action="/users/reset?_method=PUT" method="POST">
          <button type="submit" class="btn btn-primary btn-block">Reset Habits</button>
        </form>
      </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% } else { %>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-sm-12 col-md-6 col-lg-6 justify-content-center">
        <div class="jumbotron mt-5">
          <h1 class="display-3">Habit App</h1>
          <a class="btn btn-primary btn-lg" href="/auth/google" role="button">Login with Google</a>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <% } %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>