<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
      <nav class="navbar navbar-dark bg-dark mb-3">
        <div class="container-fluid">
          <a href="#" class="navbar-brand mr-3">Habit App</a>
            <div class="navbar-nav">
              <a href="/users" class="nav-item nav-link">Home</a>
            </div>
            <div class="navbar-nav">
              <a href="/users/habits" class="nav-item nav-link">Habits</a>
            </div>
            <div class="navbar-nav">
              <a href="/users/tasks" class="nav-item nav-link active">Tasks</a>
            </div>
            <div class="navbar-nav">
              <a href="/users/all" class="nav-item nav-link">All</a>
            </div>
            <div class="navbar-nav ml-auto">
              <a href="/logout" class="nav-item nav-link">Logout</a>
            </div>
        </div>
      </nav>
    <div>
        <h1>All Tasks</h1>
        <% person.roles.forEach(function(role) { %>
            <%  if(role.tasks.length > 0 && role.tasks != undefined){ %>
                <h3><%= role.name %></h3>
                <%  } %>
            <% role.tasks.forEach(function(task) { %>
                <li><%= task.name %>  <form action="/users/task/delete/<%= task._id %>?_method=DELETE"  
                    class="delete-form" method="POST">
                  <button type="submit"> Complete Task</button>
                </form> </li>
           <% }); %>
        <% }); %>
    </div>

</body>
</html>