<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header class="navbar-fixed">
        <nav>
          <div class="nav-wrapper teal ">
            <a href="/users"class="left brand-logo">&nbsp;&nbsp;Habit App</a>
            <ul class="right">
              <li><a href="/users">Home</a></li>
              <li><a href="/users/habits">Habits</a></li>
              <li><a href="/users/tasks">Tasks</a></li>
              <li><a href="/users/all">All</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </nav>
    </header>
    <div class="container">
      <h3 class="center">All Tasks</h3>
      <div>
        <% person.roles.forEach(function(role) { %>
        <%  if(role.tasks.length > 0 && role.tasks != undefined){ %>
        <h5><%= role.name %></h5>
        <hr/>
        <%  } %>
        <% role.tasks.forEach(function(task) { %>
        <ul>
          <li class="row valign-wrapper">
            <div class="col s8 m8 l9">
              <%= task.name %>
            </div>
            <div class="col s4 m4 l3">
              <form action="/users/task/delete/<%= task._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit" class="btn grey"> Complete Task</button>
              </form>
            </div>
          </li>
          <% }); %>
        </ul>
        <% }); %>
      </div>
    </div>

</body>
</html>